:root {
  
    --primary-color:#ff6666;
    --background-color: #f0f0f5;
    --title-color:#030303;
    --text-color:#606060;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
}

body {
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
  color:var(--text-color);
}

body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /* color: var(--title-color); */
  font-family: ubuntu;
}

button {
  background: var(--primary-color);
  color: #fff;
  border-color:#333038;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
button:hover{
  opacity: .9;
}