@import '../../App.css';

header{
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    height: 100px;
    box-sizing: border-box;
    background: var(--background-color);
    width: 100%;
}

header img {
    height: 50px;
    margin-right: 10px;
}


